<md-toolbar color="primary">

    <md-toolbar-row>
        <span (click)="homeEventEmit()">My Authentic Design</span>
        <span class="header-spacer"></span>
        <md-icon class="header-icon" (click)="userPageEventEmit()">verified_user</md-icon>
    </md-toolbar-row>

    <md-toolbar-row>
        <span>Public Market</span>
        <span class="header-spacer"></span>
        <md-icon class="header-icon" (click)="sidenavEventEmit()">home</md-icon>
        <md-icon class="header-icon" (click)="contactPageEventEmit()">favorite</md-icon>
    </md-toolbar-row>
</md-toolbar>