<div class="container">

    <div class="">
        <h2 class="center">
            Des outils pour Antiquaires 2.0
        </h2>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3 class="center">Un service B2B pour augmenter votre visibilité et votre activité</h3>
            <img class="img-responsive" src="assets/images/imgs-global/picto-marketplace-B2B-mac.gif" alt="modern tools for 2.0 antique dealers" />
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <h2 class="center">Des solutions B2B pour antiquaires 2.0</h2>
            <h4 class="center">Développez l’agilité nécessaire à l’ère du digital avec nos solutions B2B.</h4>
        </div>

        <div class="col-sm-4">
            <div class="jumbotron">
                <img src="assets/images/imgs-global/1.gif" alt="" alt="" />
                <br/><br/>
                <p><b>Une destination unique</b></p>
                <p>Postez votre marchandise depuis votre remise, votre magasin ou votre stand sur une plateforme unique et centrale</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="jumbotron">
                <img src="assets/images/imgs-global/2.gif" alt="" alt="" />
                <br/><br/>
                <p><b>Un stock partagé</b></p>
                <p>Partagez votre remise avec une large communauté de marchands, galeries européennes et internationales</p>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="jumbotron">
                <img src="assets/images/imgs-global/3.gif" alt="" alt="" />
                <br/><br/>
                <p><b>Vendez plus</b></p>
                <p>En rendant 100% de votre stock accessible en ligne, vous vous assurez de répondre à toutes recherches d'acheteurs</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <h2 class="center">Concentrez vous sur votre coeur de métier</h2>
            <h4 class="center">Déchargez vous des tâches chronophages</h4>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron">
                <img src="assets/images/imgs-global/4.gif" alt="" alt="" />
                <br/><br/>
                <p><b>Gagnez du temps</b></p>
                <p>Consacrez votre temps à la recherche de pièces et non pas à remplir des formulaires en ligne</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron">
                <img src="assets/images/imgs-global/5.gif" alt="" alt="" />
                <br/><br/>
                <p><b>Plus de contrôle</b></p>
                <p>Maîtrisez et gérez votre stock de bout en bout facilement depuis un lieu unique</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron">
                <img src="assets/images/imgs-global/6.gif" alt="" alt="" />
                <br/><br/>
                <p><b>Restez informés</b></p>
                <p>Obtenez des données pour améliorer votre connaissance du marché et affiner vos choix</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <h2 class="center">Comparez nos offres de services</h2>
        </div>

        <div class="col-sm-12">
            <table class="table table-striped">

                <tr>
                    <th></th>
                    <th class="center">Partners</th>
                    <th class="center">Sponsors</th>
                    <th class="center">Angels</th>
                </tr>


                <tr *ngFor="let suites of sortedData">
                    <td class="left">{{suites.name}}</td>
                    <td class="center">{{suites.partners}}</td>
                    <td class="center">{{suites.sponsors}}</td>
                    <td class="center">{{suites.angels}}</td>
                </tr>

                <tr>
                    <td class="left show_price"><b>Tarif H.T.</b></td>
                    <td class="center show_price"><b>99,00 € / trim.</b></td>
                    <td class="center show_price"><b>199,00 € / trim.</b></td>
                    <td class="center show_price"><b>399,00 € / trim.</b></td>
                </tr>
            </table>
        </div>

        <hr>

        <div class="col-sm-12 center">
            <h2>N'hésitez pas à nous contacter pour plus d'information</h2>
            <h4>Feel free to contact us for information</h4>
            <h4>English speaking</h4>
            <h4>+33 6 62 35 16 52</h4>
        </div>

    </div>

    <br>
    <hr>
    <br>

    <div>